{% if persons_list %}
  <table border="1" padding='1'>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>ADDRESS</th>
      <th>TYPE</th>
      <th>SHARE TYPE</th>
    </tr>
    {% for persons in persons_list  %}
      <tr>
        <td>{{persons.p_id}}</td>
        <td>{{persons.fullname}}</td>
        <td>{{persons.fulladdress}}</td>
        <td>{{persons.pt_persons_types_code}}</td>
        <td>{{persons.ppst_profile_share_types_code}}</td>
      </tr>

    {% endfor %}
  </table>
{% else %}
  <p>No polls are available.</p>
{% endif %}
