{% extends "persons/persons_base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container">
    <div class="navbar-nav align-items-center">

        <a href="{% url 'persons:persons_details_create' %}" class="btn btn-primary">ADD</a>

    </div>
  </div>
</nav>

<div class="container personstable">
  <form action="{% url 'persons:persons_update' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="edit" value="Edit">
    {% load render_table from django_tables2 %}
    {% render_table  table %}
  </form>

</div>

{% endblock %}
