{% extends "legislativeinfo/legislativeinfo_base.html" %}

{% block content_li %}

<div class="container overviewlitable">
  {% load render_table from django_tables2 %}
  {% load bootstrap4 %}

  {% if filter %}
  <p>
    <div>
      <form action="" method="get" class="form form-inline">
          {% bootstrap_form filter.form layout='inline' %}
          {% bootstrap_button 'Filter' %}
      </form>
    </div>
  </p>
  {% endif %}
  <div>
    <p>
      <form action="{% url 'legislativeinfo:sort' %}" method="post">
        {% csrf_token %}
        <input type="submit" name="add_button" value="Add">
        <input type="submit" name="edit_button" value="Edit">
        <input type="submit" name="delete_button" value="Delete">

        {% render_table  table %}
      </form>
    </p>
  </div>
</div>

{% endblock %}
